// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'partials/variables';

@import 'partials/commons';

@import 'partials/utilities';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'partials/header';

@import 'partials/main';

@import 'partials/advancedSearch';

@import 'partials/footer';

// FONTAWESOME
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@import '~@fortawesome/fontawesome-free/scss/solid';
