#search{

    .hero-rest{
        background-image: url('../image/newyork.png');
        background-size: cover;
        background-position: center;
        height: 400px;
        padding: 20px 0;
        margin-bottom: 50px;

        .box{
            width: 60%;
            height: 100%;
            padding-top: 30px;
        }

        h3{
            font-size: 55px;
            font-weight: 700;
            margin: 30px 0;
        }
    }

    .container{


        h1{
            text-align: center;
            font-weight: 800;
        }
        h3{

            span{
                color:red;
            }
        }

        .input-primary{
            width: 250px;
            height: 35px;
            padding: 20px 10px;
            border-radius: 3px;
            border: 2px solid $orange;
            outline: 0;
           
        }

        button{
            width: 100px;
            height: 35px;
            border-radius: 10px;
        }

        
        .container-restaurant-filter{
            display: grid;
            grid-template-columns: 1fr;
            gap: 1rem;

            .restaurant-container{
                
                ul{
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) );
                    gap: 1rem;
                    
                    
                    
                    
                    .rest-box{
                        grid-template-rows: minmax(100px, auto) ;
                        display: grid;
                        // border: 1px solid red;
                        align-content: flex-start;
                        // justify-content: center;
                        border-radius: 5px;
                        background: #F8F6EB;
                        border: 1px solid #FFB954;
                        padding: 10px;
                        color: #000;
                        height: 290px;
                        overflow: hidden;
                        

                        &:hover img{
                            transform: scale(1.15);
                        }
                        
                        img{
                            border-radius: 5px;
                            object-fit: cover;
                            height: 150px;
                            transition: all 0.3s linear;
                        }
                        
                        .rest-text{
                            padding: 15px 10px;
                        }
                    }
    
                }
                
                            
            }
        }
        
        .container-restaurant-genres{
            display: grid;
            grid-template-columns: 1fr 7fr;
            gap: 1rem;
            
            .restaurant-container{
                
                ul{
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) );
                    gap: 1rem;
                    
                    
                    
                    
                    .rest-box{
                        grid-template-rows: minmax(100px, auto) ;
                        display: grid;
                        // border: 1px solid red;
                        align-content: flex-start;
                        // justify-content: center;
                        border-radius: 5px;
                        background: #F8F6EB;
                        border: 1px solid #FFB954;
                        padding: 10px;
                        color: #000;
                        height: 290px;
                        overflow: hidden;
                        

                        &:hover img{
                            transform: scale(1.15);
                        }
                        
                        img{
                            border-radius: 5px;
                            object-fit: cover;
                            height: 150px;
                            transition: all 0.3s linear;
                        }
                        
                        .rest-text{
                            padding: 15px 10px;
                        }
                    }
    
                }
                
                            
            }

                .form-check{
                    height: 350px;
                    border: 1px solid #FFB954;
                    background-color: #F8F6EB
                    ;    
                    border-radius: 5px;               

                    .btn-list{
                        text-align: center;
                        position: relative;
                        margin-top: 10px;
                        right: 20px;
                        &:hover{
                            cursor: pointer;
                        }

         
                    }

                    .check:first-child{
                        padding-top: 1rem;
                    }

                    .check{
                        padding: 0 1rem ;
                        
                    }

                }

            }

    }

    // MEDIAQUERY

    @media  screen and(max-width: 1250px) {
        .box{
            h3{
                font-size: 40px;
            }
        }
    }

     @media  screen and(max-width: 769px){
         .hero-rest{
             .box{
                 width: 80%;
                 h3{
                     font-size: 35px;
                 }
             }
         }
     }
}