table{
    // display: flex;
    width: 100%;
   
    tbody>tr>td>.row>.col-sm-9>img{
        display: inline-block;
        height: 80px;
        width: 80px;
    }


    @media screen and(max-width: 993px) {
    tbody>h4{
            font-size: 16px;
        }
    }

}