/* default layout */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#app,
#search{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#app > main{
    flex-grow: 1;
}
#search > .page{
    flex-grow: 1;
}

#app > main{
    flex-grow: 1;
}

#search > .page{
    flex-grow: 1;
}

/* layout */

.layover{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba($color: #000000, $alpha: .5);
}

a:hover{
    text-decoration: none;
}

// a.nav-link{
//     font-family: 'Courier New', Courier, monospace;
// }

nav-link:hover{
    text-decoration: none;
}

ul li{
    list-style-type: none;
}



/* btn */



.btn-list{
    background-color:$orange;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
    color: $white;
    transition: all 0.3s;
    margin-left: 15px;
    cursor: pointer;
    border: 0;
    // margin: 2rem;
    &.large{
        padding: 10px 30px;
    }
    
    &:hover{
        color: white;
        text-decoration: none;
        background: #FFB954;
    }
}

 // compra
 .compra{
    padding:15px;
    background-color: $orange;
    display : flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    color: white;
    border-radius: 5px;

    i{
        position: relative;
        z-index: 2;
    }
}

.search-advanced{
    padding: 14px;
    margin-left: 10px;
    display: inline-block;
    width: 50px;
    text-align: center;
    font-size: 12px;
}


.compra::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 185, 84, 0.6) ;
    left: 0;
    top: 0;
    z-index: 0;
    transform-origin:  right;
    transform: scaleX(0);
    transition: transform 1s linear;
    border-radius: 5px;
}

.compra:hover::after{
    transform: scaleX(1);
    transform-origin:  left;
    
}

.compra:hover{
    color: white;
    cursor: pointer;
}

// compra inverso
.compra-inverso{
    padding:15px;
    background-color: orange;
    display : flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    color: white;
    border-radius: 5px;

    span,
    i{
        position: relative;
        z-index: 2;
    }
}

.search-advanced-inverso{
    padding: 9px;
    margin-left: 10px;
    display: inline-block;
    width: 144px;
    text-align: center;
    font-size: 12px;
}


.compra-inverso::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 185, 84, 0.6) ;
    left: 0;
    top: 0;
    z-index: 1;
    transform-origin: left ;
    transform: scaleX(0);
    transition: transform 1s linear;
    border-radius: 5px;
}

.compra-inverso:hover::after{
    transform: scaleX(1);
    transform-origin: right ;
    
}

.compra-inverso:hover{
    color: white;
    cursor: pointer;
    text-decoration: none;
}

// UNDERLINE LOGIN
.underline-login{
    // border: 1px solid orange;
    padding: 5px 0;
    // width: 100px;
    // text-align: center;
    // margin: 5rem auto;
    position: relative;
    cursor: pointer;
  }
  
  .underline-login::after{
    content: " ";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0px;
    background-color: white;
    
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 500ms linear;
  }
  
  .underline-login:hover::after{
    transform: scaleX(1);
    transform-origin: left;
    
  }




.loader{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 60px;
    animation: load 1s linear infinite;
    @keyframes load{
        0% {transform: rotate(0);}
        50% {transform: rotate(180deg);}
        100% {transform: rotate(360deg);}
    }
}

// form register
.form .card{
    border: 1px solid $orange;

    .form-group.check{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 100px;
        .form-check{
            width: 20%;
            text-align: center;
        }
    }
}

.chart{
    width: 500px;
}

.container table tbody tr td{
    vertical-align: middle;
}

// MEDIAQUERY

@media screen and (max-width: 423px){
    .compra{
        margin-top: 20px;
        margin-left: 0;
    }
}

