*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layover{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba($color: #000000, $alpha: .5);
}

ul li{
    list-style-type: none;
}