/* default layout */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* layout */

.layover{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba($color: #000000, $alpha: .5);
}

ul li{
    list-style-type: none;
}

/* btn */

.btn-list{
    background-color: orangered;
    padding: 10px;
    border-radius: 5px;
    display: block;
    width: 80px;
    color: $white;
    margin: 2rem;

}