.header-home{
    height: 600px;
    background-image: url('../image/deliveboo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 75%;

    position: relative;
}


.hero-home{
    padding: 50px;
    p{  
        color: #fff;
        font-size: 40px;
        text-transform: uppercase;
        span{
            font-weight: 700;
        }
    }
}

.navbar{
    background: transparent;
    a{
        color: white;
    }
}

