.header-home{
    height: 400px;
    background-image: url('../image/jumbo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.hero-home{
    padding: 50px;
    p{  
        color: #fff;
        font-size: 40px;
        text-transform: uppercase;
        span{
            font-weight: 700;
        }
    }
}

.navbar{
    background: transparent;
    a{
        color: white;
    }
}

