.rest-show{
    max-width: 70% ;
    margin: auto;
    
    ul li{
        max-width: 100%;
        padding: 10px;
        border: 1px solid red;
    }

    .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;

        .btn-cart{
            a{

                background: transparent;
                border: transparent;
                font-weight: 700;
                font-size: 1.2rem;

                .badge-pill{
                    border-radius: 50%;
                }
            }

        }
    }
    
}