.rest-show{
    max-width: 80% ;
    margin: auto;

 
   
    ul li{
        display: flex;
        // justify-content: space-between;
        max-width: 100%;
        padding: 10px;
        background: #F8F6EB;
        border: 1px solid rgba(255, 136, 136, 0.31);
        border-radius: 5px;
        overflow: hidden;

        &:hover{
            border: 1px solid #EE931B;
        }
        
        &:hover img{
            transform: scale(1.15);
        }

        img{
            margin-right: 20px;
            width: 150px;
            height: 150px;
            border-radius: 5px;
            object-fit: cover;
            transition: all 0.4s;
                        
        }

        .dish-description{
            width: 540px;
        }

        .add-cart{

            align-self: center;
            a{
                font-size: 36px;
                color: rgba(255, 136, 136, 0.31);
                margin-left: 80px;
                &:hover{
                    color: #EE931B;
                }
            }
        }
    }

    .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;

        .btn-cart{
            a{
                color: $footer;
                background: transparent;
                border: transparent;
                font-weight: 700;
                font-size: 1.2rem;

                .badge-pill{
                    border-radius: 50%;
                    background: $orange;
                }
            }

        }
    }
    
    @media screen and(max-width: 768px) {
        h1{
            font-size: 30px;
        }

        ul li{
            flex-direction: column;

            img{
                width: 100%;
                height: 200px;
                margin-bottom: 15px;
            }
            
            .dish-description{
            width: 100%;
            }

            .add-cart a{
                margin-left: 0;
            }
        }
    }
}