.container table{
    img{
        height: 80px;
        object-fit: cover;
    }




    @media screen and(max-width: 990px) {

        img{
            height: 50px;
        }
      
        th,
        h4,
        h5,
        span,
        a,
        i,
        strong{
            font-size: 12px;
        }
        
        .btn-primary{
            padding: 0 4px;
        }

        .btn-danger{
            padding: 0 6px;            

            span{
                display: none;
            }
        }
    }

}

// MOBILE
.cart,
.dish-index{
    display: none;
    
    .cart-box{
        margin: 15px 0;
        width: 100%;
        padding: 10px;
        text-align: center;
        background: #f8f6eb;
        border-radius: 5px;
        border: 1px solid #FFB954;
        
        img{
            width: 70%;
        }
        
        .quantity{
            margin: 10px 0;
            .dish{
                margin-right: 10px;
                font-weight: 400;
            }
        }
        
        span{
            font-weight: 700;
        }

    }

}

.dish-index .cart-box{
    a,
    h5,
    form{
        margin: 10px 0;
    }

    a,
    input{
        width: 110px;
    }
}
@media screen and(max-width: 660px){


    .table-compressed{
        display: none;
    }

    .cart,
    .dish-index{
        display: block;
        
    }
    
}